package views

templ Home() {
@BasePage() {
<div
	class="min-h-full grow p-2 bg-gradient-to-r from-zinc-50 to-stone-100 dark:bg-gradient-to-r dark:from-sky-800 dark:to-blue-900">
	<h2 class=" text-6xl font-bold text-zinc-800 dark:text-zinc-100 mb-4">
        Let's start!
    </h2>
    <p class=" w-3/4 mr-0 ml-auto text-1xl text-right font-normal text-zinc-800 dark:text-zinc-100 mb-4">
        Save, manage and paste what you need!
    </p>
	<script>

	</script>
</div>
}
}