package views

templ Login(name string) {
	@BasePage() {
		<div class=" flex bg-gradient-to-r from-zinc-50 to-stone-100 dark:bg-gradient-to-r dark:from-sky-800 dark:to-blue-900">
			<div class=" min-h-full">
				<p class=" text-2xl text-center text-blue-600">Login prueba</p>
        		<button class=" bg-orange-600 block mx-auto">{name}</button>
			</div>
			<div class=" min-h-full">
				<p>imagen epica unu</p>
			</div>
		</div>
	}
}